/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    height: 100%;
}

.corpo {
    height: 100%;
    background-color: #B3D37A;
}

.titulo {
	margin: 5%;
	font-size: 3vw;
	font-family: 'Josefin Sans';
	text-align: center;
	color: white;
}

.form_assinado{
    height: 100%;
    width: 100%;
}

.corpo_index{
	height: 100%;
}

.principal {
	background-color: #B3D37A;
	display: flex;
	align-items:center;
	justify-content: space-around;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.secundaria {
	width: 100%;
	background-color: #1b6413;
}

.lista{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.menu {
	padding: 10px;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

a	{
	text-decoration: none;
	border: solid 3px #ffffff;
	border-radius: 5px;
	padding: 15px;
	width: 190px;
	text-align: center;
	background-color: #1b6413;
	color: white;
	font-size: 1.3vw;
}

a:hover{
	background-color: #ffffff;
	color: #1b6413;
	padding: 20px;
	width: 200px;
}